header,footer,aside,body,.navbar,.video-container
{
    font-family: "Helvetica 65 Medium", sans-serif;
}

.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
}

header {
    padding-left: 1%;
    padding-top: 1.2%;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

ul:hover {
    background: orange;
}

a:hover {
    background: green;
}

li:nth-child(3n+1) {
    background: purple;
}

/* Стили панели навигации */
.navbar p {
    color: darkgray;
    padding-left: 15%;
}
    /* Стили панели навигации при наведении мышью */
    .navbar p:hover {
        color: aliceblue;
    }

    footer, header, body, .video-container,.bordered
    {
        background-color:pink;
    }

.bordered {
    border: 2px solid black;
    
    padding: 10px;
}

.textblock {
    border: 2px solid grey;
    padding: 10px;
}

.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.video-title{
    color: yellow;
}